<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c9c6dde9-4aea-4003-be89-38e7882dd00b" name="OpenWeatherMapAPI TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>The test suite generated for the REST service [OpenWeatherMapAPI]</con:description><con:settings><con:setting id="c9c6dde9-4aea-4003-be89-38e7882dd00bfileName">OpenWeatherMapAPI-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>